<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include=" base::header">

    <title>Login</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-background-color="brown" data-active-color="danger" th:replace="base::sidebar">

    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default" th:replace="base::navbar">
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-7">
                        <br/>
                        <h2>Add an Educational Experience</h2>
                        <form action="#" th:action="@{/resume/addEdu}" th:object="${education}" method="post" id="eduForm">


                            <div class="form-group">
                                <label for="schoolName">Enter School Name:</label>
                                <input type="text" class="form-control" th:field="*{schoolName}" id="schoolName" placeholder="Columbia University"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}">schoolName Error</span>
                            </div>
                            <div class="form-group">
                                <label for="yearGrad">Enter Graduation Date (e.g. 2000,2017):</label>
                                <input type="text" class="form-control" th:field="*{yearGrad}" id="yearGrad" placeholder="2017"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('yearGrad')}" th:errors="*{yearGrad}">Grad Year Error</span>
                            </div>
                            <div class="form-group">
                                <label for="degreeType">Enter Type of Degree (e.g. MS,BS):</label>
                                <input type="text" class="form-control" th:field="*{degreeType}" id="degreeType" placeholder="MS"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('degreeType')}" th:errors="*{degreeType}">Degree Type Error</span>
                            </div>
                            <div class="form-group">
                                <label for="degreeMajor">Enter Major of Degree:</label>
                                <input type="text" class="form-control" th:field="*{degreeMajor}" id="degreeMajor" placeholder="Computer Science/CS"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('degreeMajor')}" th:errors="*{degreeMajor}">Degree Major Error</span>
                            </div>


                            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
                        </form>
                    </div>
                    <div class="col-md-3">

                    </div>

                </div>
            </div>
        </div>


        <footer class="footer" th:fragment="base::footer">
        </footer>
    </div>
</div>
</body>
<th:block th:replace="base::scripts">
</th:block>
</html>