!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org ">
<head>
    <div th:replace="fragments/bootstrapheader :: jquery"></div>
    <div th:replace="fragments/bootstrapheader :: bsheader"></div>
    <title>Resume: Add Work</title>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class= "col-md-4 col-md-offset-4">
    <form th:action="@{/addwork/{uid} (uid = ${uid})}" th:object="${work}" method="post">

        <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="company" th:field="*{company}"/>
        </div>
        <div class="form-group">
            <label for="title">Job Title</label>
            <input type="text" class="form-control" id="title" th:field="*{title}"/>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" class="form-control" id="startDate" th:field="*{startDate}"/>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="text" class="form-control" id="endDate" th:field="*{endDate}"/>
        </div>
        <div class="form-group">
            <label for="experience">Duties</label>
            <textarea class="form-control" rows="5" id="experience" th:field="*{experience}"/>
        </div>
        <button type="submit" class="btn btn-default" name = "action" value = "submit">Submit</button>
        <button type="submit" class="btn btn-default" name = "action" value = "add1">Add Another</button>
        <button type="submit" class="btn btn-default" name = "action" value = "skip">Skip</button>
    </form>
</div>

</body>
</html>