<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include=" base::header">

    <title>Login</title>
</head>
<body>
<div class="wrapper">
    <div class="sidebar" data-background-color="brown" data-active-color="danger" th:replace="base::sidebar">

    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default" th:replace="base::navbar">
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <h2>Resume</h2>
                    <h5 th:text="${ {user.firstName}+' '+{user.lastName} }"></h5>
                    <h5 th:text="${{user.email}}"></h5>
                    <br/>

                    <h3>Education</h3>
                    <div th:each="edu:${edusList}">
                        <div th:text="${ {edu.degreeType}+' in '+{edu.degreeMajor} }"></div>
                        <div th:text="${ {edu.schoolName}+', '+{edu.yearGrad} }"></div>
                        <br/>

                    </div>
                    <h3>Work Experiences</h3>
                    <div th:each="job,status:${jobsList}">
                        <div th:text="${{job.title}}"></div>
                        <div th:text="${ {job.company}+', '+{job.startDate}+' - '+{job.endDate} }"></div>
                        <div th:utext="${{dutiesList.get(status.index)}}"></div>
                        <br/>
                    </div>
                    <h3>Skills</h3>
                    <div th:each="skill:${skillsList}">
                        <div th:text="${ {skill.skillName}+', '+{skill.skillRating} }"></div><br/>

                    </div>

                </div>
            </div>
        </div>


        <footer class="footer" th:fragment="base::footer">
        </footer>
    </div>
</div>
</body>
<th:block th:replace="base::scripts">
</th:block>
</html>