<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include=" base::header">

    <title>Home</title>
</head>
<body>
<div class="wrapper">

        <div class="sidebar" data-background-color="brown" data-active-color="danger" th:replace="base::sidebar">

        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default" th:replace="base::navbar">
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="jumbotron">
                            <h1>ConnectUp!</h1>
                            <p>Join today and professionally connect with businesses and workers from all over the globe!</p>
                        </div>
                        <!-- your content here -->

                    </div>
                </div>
            </div>



            <footer class="footer" th:fragment="base::footer">
            </footer>

        </div>

</div>
</body>
<th:block th:replace="base::scripts">
</th:block>
</html>