<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <div th:replace="fragments/bootstrapheader :: jquery"></div>
    <div th:replace="fragments/bootstrapheader :: bsheader"></div>
    <title>Search</title>

</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class= "col-md-4 col-md-offset-4">
<div id="acordeon">

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">

            <div class="panel-heading">

                <h4 class="panel-title">

                    <a data-toggle="collapse" href="#collapseSearch">
                       Search <i class="pe-7s-angle-down" style="font-size: 1.4em;"></i>
                    </a>

                </h4>

            </div>

            <div id="collapseSearch" class="panel-collapse collapse">

                <div class="panel-body">

                        <form th:action="@{/search}" th:object="${search}" method="post">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" th:field="*{name}"/>
                            </div>
                            <div class="form-group">
                                <label for="college">College</label>
                                <input type="text" class="form-control" id="college" th:field="*{college}"/>
                            </div>
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input type="text" class="form-control" id="company" th:field="*{company}"/>
                            </div>
                            <div sec:authorize="hasAuthority('RECRUITER')" class="form-group">
                                <label for="skill">Skill</label>
                                <input type="text" class="form-control" id="skill" th:field="*{skill}"/>
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <br/>
    <br/><!-- /.container -->
<table class="table table-striped">
    <th>Name</th>
    <tr th:each="row : ${results}">
    <td th:text="${row.name}"></td>
    <td><a href="#" th:href="@{/info/{id} (id = ${row.id})}">See more Information</a>
    </td>
    </tr>
</table>
</div>
</body>
</html>